@import "../../styles/variables.scss";

.cart {
  display: flex;
  flex-direction: column;
  align-content: flex-end;
  width: 80%;
  background-color: $light-color;
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1000;
  padding: 20px;

  @media (min-width: 768px) {
    width: 350px;
  }

  &__header {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 40px;
  }

  &__close-icon {
    width: 25px;

    @media (min-width: 1024px) {
      width: 15px;
    }
  }

  &__container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    gap: 10px;
    margin-bottom: 40px;
  }

  &__item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    border-bottom: solid $light-grey-color 1px;
    padding-bottom: 20px;
    margin-bottom: 10px;
    width: 100%;
  }

  &__item-img {
    max-width: 100px;
    min-width: 80px;
    border-radius: 10px;
  }

  &__item-name {
    font-size: $size-m;
    font-weight: 700;
    color: $primary-color;
    text-align: left;
    margin: 5px auto 2px;
  }

  &__item-price {
    font-size: $size-s;
    margin-top: 0;
    color: $dark-grey-color;
  }

  &__button-container {
    display: flex;
    gap: 10px;
  }

  &__button-item {
    width: 40px;
    height: 40px;
    border-radius: 10px;
    font-size: $size-l;

    @media (min-width: 1024px) {
      width: 30px;
      height: 30px;
      font-size: $size-xs;
      min-width: 20px;
      min-height: 20px;
      border-radius: 10px;
    }
  }
  
  &__input {
    width: 50px;
    border-radius: 10px;
    border: 1px solid #d9d9d9;
    padding: 5px;
    font-size: $size-m;
    text-align: center;

    @media (min-width: 1024px) {
      font-size: $size-xs;
    }
  }

  &__button-total {
    background-color: $light-blue-color;
    color: $light-color;
    border: none;
    border-radius: 5px;
    padding: 15px 30px;
    font-size: $size-m;
    cursor: pointer;
    transition: background-color 0.3s;
  }

  &__button-total:hover {
    background-color: $light-blue-color;
  }

  &__button-total:focus {
    outline: none;
    box-shadow: $blue-shadow;
  }
}
