// Font-color
$primary-color: #031732;
$secondary-color: #ECF3F5;
$dark-color: #000;
$light-color: #fff;
$dark-grey-color: #6f6f6f;
$light-grey-color: #d9d9d9;

// Typography
$size-xxs: 10px;
$size-xs: 14px;
$size-s: 16px;
$size-m: 18px;
$size-l: 22px;
$size-xl: 24px;
$size-xxl: 28px;
$size-xxxl: 40px;
