@import "../../styles/variables.scss";

.checkout-success-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 40px 10px;
  max-width: 1440px;

  @media (min-width: 1024px) {
    margin: 100px auto;
    gap: 30px;
  }

  &__title {
    font-size: $size-xxl;
    text-align: center;
    font-weight: 300;
    max-width: 670px;

    &--bold {
      font-weight: 700;
      display: block;
    }
  }

  &__subtitle {
    font-size: $size-l;
    text-align: center;
    font-weight: 300;
    max-width: 670px;
    margin-bottom: 30px;
  }

  &__info-container {
    display: flex;
    flex-direction: column;

    @media (min-width: 1024px) {
      flex-direction: row;
      gap: 30px;
    }
  }

  &__text {
    font-size: $size-s;
    text-align: left;
    font-weight: 300;
    max-width: 400px;
    min-width: 300px;

    &--bold {
      font-weight: 700;
      display: block;
    }
  }

  &__info {
    margin-bottom: 30px;

    &--bold {
      font-weight: 700;
      display: block;
    }
  }
}
