@import "../../styles/variables.scss";

.checkout-success-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 40px 10px;
  max-width: 1440px;

  @media (min-width: 1024px) {
    margin: 100px auto;
    gap: 30px;
  }

  &__title {
    font-size: $size-xxl;
    text-align: center;
    font-weight: 300;
    max-width: 670px;

    &--bold {
      font-weight: 700;
      display: block;
    }
  }

  &__subtitle {
    font-size: $size-l;
    text-align: center;
    font-weight: 300;
    max-width: 670px;
    margin-bottom: 30px;
  }

  &__info-container {
    display: flex;
    flex-direction: column;

    @media (min-width: 1024px) {
      flex-direction: row;
      gap: 30px;
    }
  }

  &__text {
    font-size: $size-s;
    text-align: left;
    font-weight: 300;
    max-width: 400px;
    min-width: 300px;
    text-transform: uppercase;

    &--bold {
      font-weight: 700;
      display: block;
    }
  }

  &__info {
    margin-bottom: 30px;

    &--bold {
      font-weight: 700;
      display: block;
    }
  }

  &__product-item {
    list-style-type: none;
    margin-top: 10px;

    &:last-child {
      margin-bottom: 30px;
    }
  }

  &__product-item-feature {
    display: block;
    font-weight: 700;
  }
  
  &__product-item-unity-price {
    display: block;
    margin-bottom: 15px;
  }

  &__back-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 20px;
    font-size: $size-xs;
    min-width: 34px;
    min-height: 34px;
    text-transform: uppercase;
    border: 1px solid #d9d9d9;
    border-radius: 6px;
  }

  &__back-button-icon {
    margin-right: 5px;
  }
}
