@import "../../styles/variables.scss";

.header {
  background-color: $primary-color;
  padding: 10px 20px;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 101;

  @media (min-width: 1024px) {
    height: 60px;
  }

  &__navigation {
    display: none;

    @media (min-width: 1024px) {
      color: $light-color;
      width: 300px;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  &__link {
    text-decoration: none;
    text-transform: uppercase;
    font-size: $size-m;
    color: $light-color;
  }

  &__menu-container {
    @media (min-width: 1024px) {
      display: none;
    }
  }

  &__icon-menu {
    width: 25px;
    z-index: 1;
    cursor: pointer;
  }

  &__search-container {
    display:none;
  }

  &__icon {
    width: 25px;
    cursor: pointer;
  }

  &__logo {
    width: 200px;

    @media (min-width: 1024px) {
      width: 240px;
    }
  }

  &__icon-container {
    width: 25px;
    display: flex;
    justify-content: flex-end;
    align-items: baseline;
    gap: 15px;

    @media (min-width: 1024px) {
      width: 240px;
    }
  }

  &__shopping {
    width: 25px;
    display: flex;
    position: relative;
    cursor: pointer;

    &:hover {
      opacity: 0.6;
    }
  }

  &__shopping-icon {
    width: 20px;
    cursor: pointer;
  }

  &__shopping-indicator {
    position: absolute;
    width: 18px;
    height: 18px;
    text-align: center;
    color: $light-color;
    background-color: $primary-color;
    top: 14px;
    left: 5px;
    font-size: $size-xxs;
    border-radius: 50%;
    padding: 2px;
  }

  &__search-modal {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: $light-color;
    opacity: 0.95;
    z-index: 1000;
  }

  &__search-content {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 30vh;
    gap: 30px;
    width: 90%;
  }

  &__search-text {
    font-size: $size-xl;
    font-weight: 700;
  }

  &__search-info {
    display: flex;
    width: 90%;
    max-width: 400px
  }

  &__search-input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid $light-grey-color;
    border-radius: 4px; 
    width: 80%;
    font-family: "Inter", sans-serif;

    &::placeholder {
      font-style: oblique;
    }
  }

  &__search-info {
    gap: 10px;
  }

  &__search-button {
    cursor: pointer;
    background: $primary-color;
    width: 50px;
    height: 50px;

    & img {
      margin: auto;
    } 
  }

  &__search-close-icon {
    width: 20px;
    height: 20px;
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 20px;
  }
}
