@import "../../styles/variables.scss";

.header {
  background-color: $primary-color;
  padding: 10px;
  height: 50px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  @media (min-width: 1024px) {
    height: 60px;
  }
  &__navigation{
    display: none;
    @media (min-width: 1024px) {
      color: $light-color;
    width: 220px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    }
    
  }
  // &__menu-container {
  //   height: 300vh;
  //   width: 200px;
  //   margin-left: -10px;
  //   cursor: pointer;
  //   z-index: 0;
  //   background-color: $primary-color;
  //   transition-timing-function: ease;
  //   transition-duration: 1s;
  // }

  &__icon-menu {
    width: 25px;
    z-index: 1;
    cursor: pointer;
  }
  &__icon {
    width: 25px;
    cursor: pointer;
  }

  &__logo {
    width: 200px;

    @media (min-width: 1024px) {
      width: 240px;
    }
  }

  &__icon-container {
    width: 100px;
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
  }
}
